:root {
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --bg-color: rgb(37, 22, 33);
    --bg-color-dark: rgb(14, 6, 15);
    --font-color: rgb(255, 217, 208);
    --accent: rgb(150, 50, 63);
    --accent-dark: rgb(90, 22, 54);
    --accent-bright: rgb(255, 83, 106);
    --accent-brighter: rgb(255, 133, 133);
}

html {
    background: linear-gradient(to bottom, var(--bg-color), var(--bg-color-dark));
    min-height: 100vh;
    background-color: var(--bg-color-dark);
}

* {
    text-align: center;
    color: var(--font-color);
    font-family: var(--font);
}

::selection {
    background-color: var(--accent-dark);
}

img {
    border: 5px solid var(--accent-dark);
    box-shadow: 0px 0px 50px var(--bg-color-dark);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

img.cover {
    width: 400px;
    max-width: 85vw;
}

img:hover {
    border: 5px solid var(--accent-bright);
    box-shadow: 0px 0px 50px var(--accent-dark);
}

.hoverable img:hover {
    box-shadow: 0px 0px 50px var(--accent);
}

.back-btn {
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid var(--bg-color-dark);
    font-size: 150%;
    font-style: italic;
    background-color: var(--accent-dark);
    box-shadow: 0px 0px 20px var(--bg-color-dark);
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.back-btn:hover {
    background-color: var(--accent-bright);
    border: 3px solid var(--font-color);
    box-shadow: 0px 0px 20px var(--accent-bright);
}

h1 {
    animation: h1-xoop 0.75s infinite alternate ease-in-out;
    font-size: 80px;
    font-style: italic;
    background-color: var(--accent);
    padding: 20px;
    margin: 0px;
    border-bottom: 5px solid var(--accent-bright);
    text-shadow: 5px 5px var(--accent-dark);
    border-radius: 30px;
    letter-spacing: 3px;
    box-shadow: 0px 0px 50px var(--accent);
}

@keyframes h1-xoop {
    from {
        box-shadow: 0px 0px 50px var(--accent);
    }
    to {
        box-shadow: 0px 0px 50px var(--accent-dark);
    }
}

h2, h3, p {
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color: var(--accent-bright);
    font-size: 50px;
    border-top: 5px solid var(--accent-dark);
    padding-top: 50px;
    text-shadow: 0px 0px 20px var(--accent-dark);
}

h3 {
    color: var(--accent-bright);
    font-size: 35px;
}

p {
    font-size: 25px;
    line-height: 1.5;
}

.narrow {
    margin-left: 20vw;
    margin-right: 20vw;
}

.highlight {
    color: var(--accent-bright);
}

.lowlight {
    color: var(--accent);
    font-style: italic;
}

a {
    color: var(--accent-brighter);
    transition: color 1s ease, background-color 0.3s ease;
}

a:hover {
    color: white;
    background-color: var(--accent-dark);
}

li::marker {
    color: var(--accent);
    font-size: 35px;
}

ol, ul {
    margin-left: 100px;
    margin-right: 100px;
}

li h3, li p {
    text-align: left;
    margin-left: 10px;
}

li h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

li p {
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 60px;
}

table {
    background-color: var(--bg-color);
    border-collapse: collapse;
    font-size: 25px;
    box-shadow: 0px 0px 20px var(--accent-dark);
    margin: 0 auto;
    margin-top: 35px;
}

th, td {
    border: 2px solid var(--accent);
    padding: 5px;
}

th {
    color: var(--accent-bright);
}

audio, iframe, li img {
    display: block;
    text-align: left;
    margin-top: 10px;
}

li img {
    border: none;
    width: 35vw;
    max-width: 350px;
}

li img:hover {
    border: none;
}

audio, iframe {
    border: 2px solid var(--accent-dark);
    box-shadow: 0px 0px 50px rgb(0, 0, 0, 0);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

audio {
    width: 75%;
    height: fit-content;
}

iframe {
    width: 75%;
    max-width: 560px;
    aspect-ratio: 560 / 315;
}

audio:hover, iframe:hover {
    border: 2px solid var(--accent-bright);
    box-shadow: 0px 0px 50px var(--accent);
}

li.hoverable {
    position: relative;
}

li.hoverable::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-100%) scaleY(0.8);
    background: linear-gradient(to right, var(--accent-dark), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: opacity 0.1s ease, transform 0.5s cubic-bezier(0, 0.5, 0.2, 1);
    pointer-events: none;
    z-index: -1;
}

li.hoverable:hover::before {
    opacity: 1;
    transform: translateX(-60%) scaleY(1.1);
}

/* MOBILE CHANGES */
@media (max-width: 780px) {

    h1 {
        font-size: 40px;
        padding: 10px;
    }

    h2 {
        font-size: 30px;
        padding-top: 20px;
    }

    h3 {
        font-size: 22px;
    }

    p, table {
        font-size: 18px;
    }

    ol li::marker {
        font-size: 22px;
    }

    .narrow, h2, h3, p, ol, ul {
        margin-left: 10px;
        margin-right: 10px;
    }

    audio, iframe {
        width: 75%;
    }

    iframe {
        height: auto;
    }

    .back-btn {
        font-size: 100%;
        padding: 6px;
    }

}

@media (max-width: 450px) {

    .back-btn {
        font-size: 85%;
        padding: 4px;
    }

    h1 {
        letter-spacing: normal;
    }

}